body {
  background: #eee;
  font-family: Roboto, sans-serif;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
}

.logo {
  text-transform: uppercase;
  background-color: #fc4b3b;
  color: white;
  border-radius: 16px;
  user-select: none;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-received {
  position: fixed;
  left: 50px;
  text-align: center;
  padding: 15px;
  width: 35%;
  height: relative;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: rgba(157, 199, 219, 0.6);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 15px;
}

.all-successful {
  position: fixed;
  margin-top: 5px;
  text-align: center;
  left: 60%;
  padding: 5px, 5px, 5px, 5px;
  height: 90%;
  width: 35%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: rgba(190, 219, 157, 0.6);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 15px;
}

ul {
  list-style: none;
}

.li-header {
  margin-top: 15px;
}
